<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChannelAdvisorFeedSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChannelAdvisorFeedSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <ChannelAdvisorFeedSender.Properties.Settings>
            <setting name="ChannelAdvisorCredentials" serializeAs="String">
                <value>ftp.channeladvisor.com;thepon:joe@thepondguy.com;pondLAKE*76</value>
            </setting>
        </ChannelAdvisorFeedSender.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChannelAdvisorFeedSender.Properties.Settings>
            <setting name="ConnectionStringSalesPad" serializeAs="String">
                <value>Server=TPGSQL01;Database=TPG;User ID=user_rbin;Password=un3dRB!n</value>
            </setting>
        </ChannelAdvisorFeedSender.Properties.Settings>
    </applicationSettings>
</configuration>
